.pagination-container {
    display: flex;
    justify-content: flex-end; /* Aligns to the right */
    align-items: center;
    margin-top: 20px;
    margin-right: 20px; /* Add spacing from the right edge */
}

.pagination-btn {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-btn:hover {
    background-color: #f0f0f0;
}

.pagination-btn.active {
    background-color: #5782af;
    color: #fff;
    border-color: #5782af;
    cursor: default;
}

.pagination-btn:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
}
