/* singleuserview */

.user-details-grid span {
  font-weight: bold;
  color: #007bff;
}

.backsubmit-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.backbutton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.backbutton-right {
  padding: 10px;
  display: flex;
}


.user-details-grid {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
}

.user-details-grid span {
  font-weight: bold;
  display: inline-block;
  width: 180px;
}

.user-details-grid input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.section h3 {
  margin-bottom: 2px;
  font-size: 15px;
  color: #333;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  /* Make the header clickable */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  display: inline-block;
  margin-left: 10px;
  transition: transform 0.3s ease;
  /* Smooth transition for rotation */
}

.arrow.open {
  transform: rotate(180deg);
  /* Rotate the arrow when open */
}

.success-message{
  color: green;
  font-size: 15px;
}