/* Sidebar Styles */
.sidenav {
  height: 100%;
  width: 250px;
  font-size: 17px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5782af;
  overflow-x: hidden;
  padding-top: 20px;
  transition: width 0.3s ease;
}

.sidenav.collapsed {
  width: 70px;
}

.logo {
  text-align: center;
  transition: opacity 0.3s ease;
}

.sidenav.collapsed .logo {
  opacity: 0;
  width: 0;
  height: 0;
}

.sidebar-names {
  margin-top: 40px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: whitesmoke;
  display: block;
}

.sidebar-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidenav.collapsed .sidebar-link {
  justify-content: center;
}

.sidebar-link .fa-icon {
  margin-right: 10px;
}

.sidenav.collapsed .sidebar-link .fa-icon {
  margin-right: 0;
}

.collapse-button {
  position: absolute;
  top: 20px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  color: whitesmoke;
  cursor: pointer;
}

.master-data {
  position: relative;
}

.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: white;
  display: block;
  background: none;
  font-size: 17px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}


.dropdown-content {
  padding-left: 20px;
  display: block;
}

.arrow {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.sidenav.collapsed .dropdown-content {
  display: none;
}

.sidebar-link.active {
  background-color: #f0f0f0; /* Highlight color */
  font-weight: bold;
  color: black;
}
