.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4caf50; /* Light green background */
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar-names {
  margin-top: 40px;
}

.sidenav img {
  max-width: 100%; /* Ensures the logo fits within the sidebar */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Centers the logo */
  margin: 0 auto; /* Centers the logo horizontally */
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  margin-bottom: 10%;
  font-size: 18px; /* Adjusted font size for better visibility */
  color: whitesmoke; /* Default text color */
  display: block;
}

.sidenav a:hover {
  color: black; /* Text color on hover */
}

.sidebar-link {
  display: flex;
  align-items: center;
}

.sidebar-link .fa-icon {
  margin-right: 10px; /* Space between icon and text */
}

.logo {
  margin-left: 90px;
}

/* Dropdown styles */
.master-data {
  position: relative;
}

.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-btn:hover {
  color: black;
}

.dropdown-content {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  color: white;
}

.arrow {
  margin-left: 60px;
  font-size: 15px;
  transition: transform 0.3s ease; /* Smooth transition for rotating */
}

.arrow.open {
  transform: rotate(180deg); /* Rotate arrow when dropdown is open */
}

.dropdown-content {
  padding-left: 20px;
  display: block;
}
