* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Content Area */
.main {
  margin-left: 250px; /* Default sidebar width */
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
  height: 100vh;
  transition: margin-left 0.3s ease;
}

.main.collapsed {
  margin-left: 70px; /* Collapsed sidebar width */
}

/* Sidebar Styles */
.sidenav {
  height: 100%;
  width: 250px;
  font-size: 17px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5782af;
  overflow-x: hidden;
  padding-top: 20px;
  transition: width 0.3s ease;
}

.sidenav.collapsed {
  width: 70px; /* Collapsed width */
}
